*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.project
*.classpath
.settings/
*/target/*
jspare-samples/app-sample-svc/bin
jspare-samples/app-web-mvc/bin
jspare-server-jetty/bin
jspare-server-vertx/bin
jspare-ui-jtwig/bin
jspare-ui/bin
jspare-web-microsvc/bin
jspare-web-mvc/bin
jspare-web-svc/bin
jspare-samples/app-sample-4vertx/bin
